#mainMenuContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#mainMenuBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("mainMenuBackdrop3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#mainMenuTitleModal{
    position: absolute;
    top: 15%;
    left: calc(50% - 250px);
    width: 500px;
    height: 200px;
    background-color: #000000;
    opacity: .8;
    line-height: 200px;
    text-align: center;
}

#mainMenuTitleText{
    position: absolute;
    top: 60px;
    left: 0px;
    font-size: 40px;
    user-select: none;
    -moz-user-select: none;
    line-height: 40px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#mainMenuItemsContainer{
    position: absolute;
    top: calc(15% + 200px);
    left: calc(50% - 150px);
    width:300px;
    background-color: #000000;
    opacity: .8;
    padding-bottom:30px;
    padding-top:30px;
}

.mainMenuItem{
    position: relative;
    left: 0px;
    width: 100%;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    -moz-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.mainMenuItem:hover{
    border-left: 5px solid red;
    width: 290px;
}